@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  @apply flex items-center justify-center h-dvh bg-[#242424] text-7xl;
}
