@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@theme {
  --font-questrial: "Questrial", system-ui;
}

@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.frontend img {
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}

.slider {
  mask-image: linear-gradient(to right, transparent, #000 50% 10%, transparent);
}

.slider:hover img {
  animation-play-state: paused !important;
  filter: grayscale(1);
  cursor: pointer;
}

.slider img:hover {
  filter: grayscale(0);
}
