@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@theme {
  --font-questrial: "Questrial", system-ui;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
